* {
  font-family: sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  height: 2em;
  width: 100%;
  border-radius: 0.3rem;
  border: rgb(199, 197, 197) 1px solid;
  padding: 0 0.6rem 0 0.6rem;
  display: inline-block;
}

button {
  height: 2em;
  background-color: transparent;
  border-style: solid;
}

h2 {
  color: rgba(0, 0, 0, 0.7);
}

.wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
}

.form .field {
  padding: 0.4rem;
}

.content {
  padding: 0.4rem;
}

.header {
  font-weight: bold;
}

.meta {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.4);
}

.field > label {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  margin: 0 0 0.25rem 0;
}

.timers,
.dashboard {
  display: grid;
  grid-gap: 1em;
}

.card {
  padding: 0 0 0.25rem 0;
  border: rgb(199, 197, 197) 1.6px solid;
  border-radius: 0.3rem;
}

.attached {
  padding: 10px;
}

.attached > button {
  width: 50%;
}

.toggle-button {
  width: 5rem;
  height: 4rem;
}

.timer-button {
  width: 100%;
}

.icon-row {
  float: right;
}

.blue {
  color: blue;
  border: blue 1px solid;
  border-radius: 0 0 0 0.3rem;
}

.red {
  color: red;
  border: red 1px solid;
  border-radius: 0 0 0.3rem 0;
}

.green {
  color: green;
  border: green 1px solid;
  border-radius: 0 0 0.3rem 0.3rem;
}
